<h1>Market</h1>
<h2>Choose a sector:</h2>
<ul>
    <% sector.forEach(item => { %>
        <li class="sector-item"><%= item %></li>
    <% }); %>
</ul>
<button id="backToPortfolio">Back to Portfolio</button>