<h2>Your Portfolio</h2>
<h3 id="Cash">Cash: $</h3>
<h3 id="Net">Net Worth: $</h3>
<ul>
    <% data.forEach(item => { %>
        <li><%= item %></li>
    <% }); %>
</ul>
<button id="toMarket">Market</button>